<div class='row'> 
    <ul class='nav nav-pills' id='summarypanel'></ul>
</div>

<hr style='margin-top:5px; margin-bottom:5px;'/>




<!--div class='panel panel-primary'><div class='panel-heading'>
       <h3 class='panel-title'>   
       <strong>Section Summary: </strong>
       <hr style='margin-top:5px; margin-bottom:5px;'/>
</div -->

<!--hr style='margin-top:5px; margin-bottom:5px;'/>

<div class='panel-body'><ul class='nav nav-pills' id='summarypanel'>
	</ul>
	</div>
	</div>
        <div class='row'>
           <ul class='nav nav-pills' id='summarypanel'></ul>
 		</div>

 <hr style='margin-top:5px; margin-bottom:5px;'/>
-->
  
       
    

    <!--    
        output =  content_html.sub('<p>', '<p class="lead">')
        output.sub('<p>', '<p class="lead">')
        output << "<hr style='margin-top:5px; margin-bottom:5px;'/>"
        #if @section
        #  output << "</div></div>"
        #else
          #output << "</div><div class='panel-body'><ul class='nav nav-pills' id='summarypanel'></ul></div></div>"
        #end        
        output << "<div class='row'>"
        output << "<ul class='nav nav-pills' id='summarypanel'></ul>"
        output << "</div>"
        output << "<hr style='margin-top:5px; margin-bottom:5px;'/>"        
      end
 
-->